body {
    background-color: #201b29;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 800px;
    height: 800px;
}

.square {
    flex: 1 1 0px  ;
}

.row {
    display: flex;
    flex: 1;
}

.button {
    display: block;
    margin: 50px auto;
    padding: 14px 20px;
}